<div class="panel panel-info"><!-- ng-show="user.role=='ADMIN'" -->
	<div class="panel-heading">
		<h4>Update Approved BlogPosts</h4>
	</div>
	<div class="panel-body">
	<span ng-show="blogposts1.length==0">No blogs waiting for approval</span>
		<ul style="list-style: none">
			<li ng-repeat="blog in blogposts1 | orderBy:'-postedOn'">
		    <a href="#/getblogwaitingforapprovalforuser/{{blog.blogPostId}}" ><b>Blog Title: </b>{{blog.blogTitle}}</a><br>
			<b>Posted On :  </b>{{blog.postedOn | date:'dd-MMMM-yyyy'}}<br>
			<b>Posted By : </b> {{blog.postedBy.firstname}} &nbsp; {{blog.postedBy.lastname}}<br>
			<b>Email     :   </b> {{blog.postedBy.email}}<br>
			<hr>
			</li>
		</ul>
	</div>
</div>

