<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chat</title>
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="assets/common/portfolio.css" rel="stylesheet">
     
  </head>
  <body>
<b>HOME PAGE</b><br>
<b>WELCOME&nbsp;{{user.firstname}}&nbsp;{{user.lastname}}</b>
    
   


  </body>
</html>