<span style="color:red">{{error.message}}</span>
<form>
<table class="table table-bordered">
<tr>
<td><b>EMAIL ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="email" ng-model="user.email"></td>
</tr>
<tr>
<td><b>PASSWORD: <input type="password" ng-model="user.password"></td>
</tr>
<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn btn-md btn-active" ng-click="login(user)"><b>Sign In</b></button></td></tr>
</table>
</form>
